@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 outline-0 box-border;

}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #015958;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}